@font-face {
	font-family: 'D2 coding subset';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/D2Coding-subset.woff2') format('woff2');
}
@font-face {
	font-family: 'D2 coding subset';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/D2CodingBold-subset.woff2') format('woff2');
}
body {
	font-family: D2Coding, 'D2 coding subset';
	background-color: #232a2e;
	color: #859289;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: #3a94c5;
	text-decoration-line: none;
}
h1,
h2,
h3 {
	color: #dbbc7f;
}
strong {
	font-weight: normal;
	color: #d3c6aa;
	background-color: #543a48;
}
input,
textarea {
	color: #d3c6aa;
	background-color: #543a48;
}
button {
	color: #514045;
	background-color: #859289;
}
